{% extends 'base.html.twig' %}

{% block title %}Hello PriorityController!{% endblock %}

{% block body %}
    <a href="{{ path('priority_create') }}">Créer une nouvelle priorité</a>
    <div class="wrapper">
        {% for priority in priorities %}
            <h2>{{ priority.name }}</h2>
            <h3>{{ priority.level }}</h3>
        {% endfor %}
    </div>
{% endblock %}
